@use '../../../../lib/playground/theme';
@use '../DataTable';
@use '../../Notifier/Notifier';


body {
    font-family: sans-serif;
    margin: 20px;
}

#table {
    height: calc(100vh - 160px);

    .DataTable{
        border: 1px solid white;
        padding: .25rem;
    }
}

pre {
    background: var(--bg-code);
    padding: 12px;
    border-radius: 4px;
    margin-top: 16px;
}
