@use '../../../../lib/playground/theme';
@use '../AuthenticationService';
@use '../../../widgets/Input/Input';


[data-mode="dark"] {
    background: var(--bg);
    color: var(--text);
}

body {
    font-family: sans-serif;
    margin: 20px;
}

pre {
    background: var(--bg-code);
    padding: 12px;
    border-radius: 4px;
    margin-top: 16px;
}
