<section>
	<label>
		<span>my input</span>
		<input type="number" id="counter_input" min="0" max="100" step="1" />
	</label>
</section>

<section>
	<p>counter <span id="counter_value">abc</span></p>
</section>

<section>
	<h2>login</h2>

	<div>
		<label>
			<span>user email</span>
			<input type="text" id="username">
		</label>
	</div>

	<div>
		<label>
			<span>password</span>
			<input type="password" id="password">
		</label>
	</div>
	<div>
		<p class="login_issue_warning">{login warning placeholder}</p>
	</div>

	<div>
		<button id="submit_login_btn" type="submit">submit</button>
	</div>

</section>